.topBtnImg {
    height: "60px";
    width: "60px";
    display: "inline-block";
    margin-Right: "10px";
  }

  .topBtn {
    background:"transparent";
    height: "60px";
    width: "60px";
    display: "inline-block";
    margin-Right: "10px";
  }